@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ProtestStrike;
    font-weight: 400;
    src: url("/ProtestStrike-Regular.ttf");
  }
}

h1 {
  font-family: "ProtestStrike";
}
body {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  scroll-behavior: smooth;
}

._side-bar {
  min-width: 15%;
  height: 100vh;
  outline: 1px solid black;
}

._container {
  cursor: grab;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

._drg-scroll {
  border: 1px solid black;
  transition: all ease 200ms;
  transform-origin: center;
  transform: scale(0.8);
  height: 1080px;
  width: 1920px;
  display: grid;
  gap: 15px;
  padding: 1em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
._item {
  border: 1px solid #000;
  text-align: center;
  font-size: 80%;
}
#pic-name {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
#about {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
#skills-edu {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 13;
  display: grid;
}
#skills {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 14;
  background-color: aliceblue;
  border: none !important;
}

#skills-add {
  position: relative;
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: aliceblue;
  border: none !important;
  border-radius: 0 0 0 10px;
}

#skills-add::before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -27px;
  height: 25px;
  width: 15px;
  border-top-left-radius: 25px;
  box-shadow: 0 -15px 0 0 aliceblue;
  left: 0;
}
#education {
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 6;
  grid-row-end: 14;
  margin: 15px 0 0 15px;
}
#previous-works {
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
}

#blogs {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 13;
}
#links {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 13;
}
#contact {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 13;
}
