@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ProtestStrike;
    font-weight: 400;
    src: url("/ProtestStrike-Regular.ttf");
  }
  @font-face {
    font-family: Geist;
    font-weight: 400;
    src: url("/Geist-Medium.otf");
  }
  @font-face {
    font-family: Geist;
    font-weight: 300;
    src: url("/Geist-Light.otf");
  }
}

* {
  transition: all 100ms ease;
}
h1,
h3 {
  font-family: "ProtestStrike";
}
p,
h2 {
  font-family: "Geist";
  font-weight: 300;
}
h4 {
  font-weight: 400;
  font-family: "Geist";
}
.overlay {
  transition: 400ms;
  background-color: #fcfcfc;
}
/* Animating the dialog/modal start*/
dialog[open] {
  opacity: 1;
  transform: scale(1);
}
dialog:focus-visible {
  outline: none;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scale(0);
  }
}
dialog::backdrop {
  backdrop-filter: blur(0);
  transition: all 300ms allow-discrete;
}
dialog[open]::backdrop {
  backdrop-filter: blur(2px);
}
@starting-style {
  dialog[open]::backdrop {
    backdrop-filter: blur(0);
  }
}
/* Animating the dialog/modal end*/
body {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  scroll-behavior: smooth;
}

._side-bar {
  min-width: 20%;
  height: 100vh;
  outline: 1px solid #81818136;
}

._container {
  overflow: hidden;
  height: 100vh;
  width: 85%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 0.02)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

._drg-scroll {
  cursor: grab;
  transition: all ease 200ms;
  transform-origin: center;
  transform: scale(0.8);
  height: 1080px;
  width: 1920px;
  display: grid;
  gap: 15px;
  padding: 1em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
._item {
  text-align: center;
  font-size: 80%;
  background-color: #fcfcfc;
  padding: 20px;
}
._item:hover {
  box-shadow: 0px 0px 0 1px #81818136;
  /* transform: translateY(-3px); */
  background-color: #fafafa;
}
#pic-name {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
#about {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
#skills-edu {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 13;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  padding: 0 !important;
  background-color: unset;
}
#skills-edu:hover {
  box-shadow: initial;
  transform: initial;
  background-color: initial;
}
#skills {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 14;
  background-color: #fcfcfc;
  border: none !important;
}

#skills:hover ~ #skills-add {
  border: 2px solid #81818136;
  border-left: 0 !important;
  background-color: #fafafa;
}
#skills:hover ~ #skills-add::before {
  border-top: 2px solid #81818136;
  border-left: 2px solid #81818136;
  box-shadow: 0 -15px 0 0 #fafafa;
  transform: translateX(4px);
  transform: translateY(-1.5px);
}
#skills:hover {
  border: 2px solid #81818136;
  border-left: 0 !important;
  background-color: #fafafa;
}
#skills:has(+ #skills-add:hover) {
  border: 2px solid #81818136;
  border-left: 0 !important;
  background-color: #fafafa;
  box-shadow: 0px 0px 0 1px #81818136;
}
#skills-add:hover {
  border: 2px solid #81818136;
  border-left: 0 !important;
  background-color: #fafafa;
  box-shadow: none !important;
}
#skills-add:hover::before {
  border-top: 2px solid #81818136;
  border-left: 2px solid #81818136;
  box-shadow: 0 -15px 0 0 #fafafa;
  transform: translateX(4px);
  transform: translateY(-1.5px);
}
#skills-add {
  position: relative;
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: #fcfcfc;
  border-radius: 0 0 0 10px;
  transform: translateX(-2px);
}

#skills-add::before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -26px;
  height: 25px;
  width: 15px;
  border-top-left-radius: 25px;
  box-shadow: 0 -15px 0 0 #fcfcfc;
  left: 1px;
}
.tooltip {
  visibility: hidden;
}
.tech:hover .tooltip {
  visibility: visible;
}
#education {
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 6;
  grid-row-end: 14;
  margin: 15px 0 0 15px;
}
#previous-works {
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
}

#experience {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 13;
}
#links {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 13;
}
#contact {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 13;
}
/* .tech img {
  height: 70%;
} */
/* Mobile Screen */
@media only screen and (max-width: 500px) {
  ._container {
    display: none;
  }
  ._side-bar {
    display: none;
  }
  ._side-bar-mobile {
    display: block;
    width: 100%;
  }
}
